@import url('https://fonts.googleapis.com/css?family=Lato');
:root {
    --dull: #ffffff;
    --bright: rgb(0, 0, 0);
}

.inline {
display: inline;
}
.maintext {
color: rgb(207, 94, 94);
display: inline;
}
h1{
font-size: 20px; 
}

body {
    background-color: #080808;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Lato', sans-serif;
    margin: 20px;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.codeInterface {
    background-color: #222222;
    max-width: 800px;
    margin: 25px;
    padding: 25px;
    overflow: scroll;
    max-height: 500px;
    max-width: 500px;
    align-items: row;
    white-space: nowrap;
    position: fixed;
    left: 0px;
}

.oldiv {

  max-width: 500px;
  align-items:flex-start;

}

ol{
background-color: #222222; 
padding: 5px;   
}
li{
    color: #b3b3b3;    
    }

    ol li::marker {
        color: rgb(59, 59, 59);
    }

.menu {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    cursor: pointer;
    pointer-events: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
    Font-size: 25px;
}
.menu:hover {
    pointer-events: all;
}
.label {
    display: inline-block;
    cursor: pointer;
    pointer-events: all;
}
.spacer {
    display: inline-block;
    width: 100px;
    margin-left: 15px;
    margin-right: 15px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}
.spacer:before {
    content: "";
    position: absolute;
    border-bottom: 3px solid #ffffff;
    height: 3px;
    width: 0%;
    transition: width 0.25s ease;
    transition-delay: 0.7s;
}
.item {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;
    transition-delay: 0;
}
span {
    transition: color 0.5s ease;
}
.item:hover span {
    color: #ffffff;
    animation: select .8s steps(1) infinite;
}
.menu:hover .spacer:before {
    width: 100%;
    transition-delay: 0s;
}
.menu:hover .item {
    opacity: 1;
    top: 0px;
}
    .item:nth-child(1) {
      transition-delay: 0.45s;
    }
    .item:nth-child(2) {
      transition-delay: 0.4s;
    }
    .item:nth-child(3) {
      transition-delay: 0.35s;
    }
    .item:nth-child(4) {
      transition-delay: 0.3s;
    }
    .item:nth-child(5) {
      transition-delay: 0.25s;
    }
    .item:nth-child(6) {
      transition-delay: 0.2s;
    }
    .item:nth-child(7) {
      transition-delay: 0.15s;
    }
    .item:nth-child(8) {
      transition-delay: 0.1s;
    }
    .item:nth-child(9) {
      transition-delay: 0.05s;
    }
    .item:nth-child(10) {
      transition-delay: 0s;
    }
    .menu:hover .item:nth-child(1) {
      transition-delay: 0.25s;
    }
    .menu:hover .item:nth-child(2) {
      transition-delay: 0.3s;
    }
    .menu:hover .item:nth-child(3) {
      transition-delay: 0.35s;
    }
    .menu:hover .item:nth-child(4) {
      transition-delay: 0.4s;
    }
    .menu:hover .item:nth-child(5) {
      transition-delay: 0.45s;
    }
    .menu:hover .item:nth-child(6) {
      transition-delay: 0.5s;
    }
    .menu:hover .item:nth-child(7) {
      transition-delay: 0.55s;
    }
    .menu:hover .item:nth-child(8) {
      transition-delay: 0.6s;
    }
    .menu:hover .item:nth-child(9) {
      transition-delay: 0.65s;
    }
    .menu:hover .item:nth-child(10) {
      transition-delay: 0.7s;
    }

@keyframes select {
  0%, 50% {
    color: var(--dull);
    transition: ease-in-out;
  }
  50%, 100% {
    color: var(--bright);
    transition: ease-in-out;
  }
}
.codeOutput {
  background-color: #222222;
  max-width: 800px;
  overflow: scroll;
  max-height: 500px;
  max-width: 500px;
  align-items: row;
  white-space: nowrap;
  position: fixed;
  right: 0;
}

.divitems {

align-items: row;
max-width: 100%;
flex-direction: column;

}